n8n/taskflow-reminders-workflow.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 1
                        }
                    ]
                }
            },
            "id": "37a4b939-e257-4b45-b0fc-9c5be7379c04",
            "name": "Every Minute1",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -784,
                400
            ]
        },
        {
            "parameters": {
                "url": "https://taskmanager-4gpyr6iwr-0-prince-0s-projects.vercel.app/api/reminders",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer taskflow-n8n-api-key-2024"
                        }
                    ]
                },
                "options": {}
            },
            "id": "d4936187-5d4a-474b-966a-5b716573aaf0",
            "name": "Fetch Pending Reminders1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -576,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "condition-has-reminders",
                            "leftValue": "={{ $json.reminders.length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "e75ff23b-1462-4563-a285-5d9db35602ab",
            "name": "Has Reminders?1",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -352,
                400
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "reminders",
                "options": {}
            },
            "id": "a8809b6a-e012-435e-816f-966b79a39192",
            "name": "Split Into Items1",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                -128,
                288
            ]
        },
        {
            "parameters": {
                "sendTo": "={{ $json.user_email }}",
                "subject": "⏰ Reminder: {{ $json.task.title }}",
                "message": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;line-height:1.6;color:#334155;margin:0;padding:0;background-color:#f8fafc}.container{max-width:600px;margin:0 auto;padding:20px}.card{background:white;border-radius:16px;padding:32px;box-shadow:0 4px 6px -1px rgba(0,0,0,0.1)}.header{text-align:center;margin-bottom:24px}.logo{font-size:24px;font-weight:bold;color:#0ea5e9}.title{font-size:20px;font-weight:600;color:#0f172a;margin:0 0 8px 0}.priority{display:inline-block;padding:4px 12px;border-radius:20px;font-size:12px;font-weight:500;margin-bottom:16px}.priority-high{background:#fef2f2;color:#dc2626}.priority-medium{background:#fffbeb;color:#d97706}.priority-low{background:#f0fdf4;color:#16a34a}.description{color:#64748b;margin-bottom:20px}.due-date{background:#f1f5f9;padding:12px 16px;border-radius:8px;margin-bottom:20px}.due-label{font-size:12px;color:#94a3b8;margin-bottom:4px}.due-value{font-weight:600;color:#0f172a}.btn{display:inline-block;background:#0ea5e9;color:white;padding:12px 24px;border-radius:8px;text-decoration:none;font-weight:500}.footer{text-align:center;margin-top:24px;font-size:12px;color:#94a3b8}</style></head><body><div class=\"container\"><div class=\"card\"><div class=\"header\"><div class=\"logo\">✓ TaskFlow</div></div><p style=\"color:#64748b;margin-bottom:20px\">Hi {{ $json.user?.full_name || 'there' }},</p><p style=\"margin-bottom:16px\">This is a reminder for your upcoming task:</p><h2 class=\"title\">📌 {{ $json.task.title }}</h2><span class=\"priority priority-{{ $json.task.priority }}\">{{ $json.task.priority?.toUpperCase() || 'MEDIUM' }} PRIORITY</span><p class=\"description\">{{ $json.task.description || '' }}</p><div class=\"due-date\"><div class=\"due-label\">📅 Due Date</div><div class=\"due-value\">{{ $json.task.due_date || 'No due date set' }}</div></div><p style=\"color:#64748b;margin-bottom:20px\">Don't forget to complete this task on time!</p><a href=\"https://taskmanager-4gpyr6iwr-0-prince-0s-projects.vercel.app/dashboard\" class=\"btn\">Open TaskFlow →</a><div class=\"footer\"><p>You received this email because you set a reminder in TaskFlow.</p></div></div></div></body></html>",
                "options": {
                    "appendAttribution": false
                }
            },
            "id": "01602e9d-de9c-4202-9590-0ad3a04a2a73",
            "name": "Send Gmail1",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                96,
                288
            ],
            "webhookId": "78c1ccb1-9156-44d1-a65b-1c1855dcd2f3",
            "credentials": {
                "gmailOAuth2": {
                    "id": "LG8ge52ue9UEyKHL",
                    "name": "prince gpid"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "reminder-id",
                            "name": "reminder_id",
                            "value": "={{ $json.id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "53e89c8d-a93f-4e80-a998-1f42f93d61c6",
            "name": "Extract Reminder ID1",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                320,
                288
            ]
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "reminder_ids",
                "include": "specifiedFields",
                "fieldsToInclude": "reminder_id",
                "options": {}
            },
            "id": "f714fcee-26ea-4d5a-a407-eac2d36f0a7a",
            "name": "Collect All IDs1",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                544,
                288
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://taskmanager-4gpyr6iwr-0-prince-0s-projects.vercel.app/api/reminders",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer taskflow-n8n-api-key-2024"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"reminder_ids\": {{ JSON.stringify($json.reminder_ids.map(r => r.reminder_id)) }}\n}",
                "options": {}
            },
            "id": "444cfee3-1530-4b7b-a0fb-1e2793f6ba80",
            "name": "Mark Reminders as Sent1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                752,
                288
            ]
        },
        {
            "parameters": {},
            "id": "a35eacae-2d03-4c01-bb49-a5e25bcee90e",
            "name": "No Reminders1",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                -128,
                496
            ]
        }
    ],
    "connections": {
        "Every Minute1": {
            "main": [
                [
                    {
                        "node": "Fetch Pending Reminders1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Pending Reminders1": {
            "main": [
                [
                    {
                        "node": "Has Reminders?1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Reminders?1": {
            "main": [
                [
                    {
                        "node": "Split Into Items1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Reminders1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Into Items1": {
            "main": [
                [
                    {
                        "node": "Send Gmail1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Gmail1": {
            "main": [
                [
                    {
                        "node": "Extract Reminder ID1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Reminder ID1": {
            "main": [
                [
                    {
                        "node": "Collect All IDs1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect All IDs1": {
            "main": [
                [
                    {
                        "node": "Mark Reminders as Sent1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6c117294c561256781e273716b2dd9fec5b63fca097f0770dfa6acd6dddd1ee8"
    }
}