n8n/taskflow-reminders-workflow.json
{
    "nodes": [
        {
            "parameters": {
                "operation": "update",
                "tableId": "reminders",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Get Pending Reminders').item.json.id }}"
                        }
                    ]
                },
                "dataToSend": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "is_sent": true
                    }
                }
            },
            "id": "4eed354a-3599-471f-82be-1a2558ae6c67",
            "name": "Mark Reminder as Sent",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1808,
                2000
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "vKaXWAw17A3mLqZR",
                    "name": "TaskManager"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "reminders",
                "returnAll": true,
                "filters": {
                    "conditions": [
                        {
                            "keyName": "is_sent",
                            "keyValue": "false"
                        }
                    ]
                }
            },
            "id": "c3f916c2-a6a9-4731-a6c6-75975c052a17",
            "name": "Get Pending Reminders",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                720,
                2112
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "vKaXWAw17A3mLqZR",
                    "name": "TaskManager"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "condition-time-check",
                            "leftValue": "={{ new Date($json.remind_at).getTime() }}",
                            "rightValue": "={{ new Date().getTime() }}",
                            "operator": {
                                "type": "number",
                                "operation": "lte"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "time-check-node",
            "name": "Is Time Due?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                944,
                2112
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "profiles",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Get Pending Reminders').item.json.user_id }}"
                        }
                    ]
                }
            },
            "id": "get-profile-node",
            "name": "Get Profile",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1152,
                2000
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "vKaXWAw17A3mLqZR",
                    "name": "TaskManager"
                }
            }
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "tasks",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Get Pending Reminders').item.json.task_id }}"
                        }
                    ]
                }
            },
            "id": "get-task-node",
            "name": "Get Task",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1360,
                2000
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "vKaXWAw17A3mLqZR",
                    "name": "TaskManager"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "={{ $('Get Profile').item.json.email }}",
                "subject": "=⏰ Reminder: {{ $('Get Task').item.json.title }}",
                "message": "=<!DOCTYPE html><html><head><meta charset=\"utf-8\"><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;line-height:1.6;color:#334155;margin:0;padding:0;background-color:#f8fafc}.container{max-width:600px;margin:0 auto;padding:20px}.card{background:white;border-radius:16px;padding:32px;box-shadow:0 4px 6px -1px rgba(0,0,0,0.1)}.header{text-align:center;margin-bottom:24px}.logo{font-size:24px;font-weight:bold;color:#0ea5e9}.title{font-size:20px;font-weight:600;color:#0f172a;margin:0 0 8px 0}.priority{display:inline-block;padding:4px 12px;border-radius:20px;font-size:12px;font-weight:500;margin-bottom:16px}.priority-high{background:#fef2f2;color:#dc2626}.priority-medium{background:#fffbeb;color:#d97706}.priority-low{background:#f0fdf4;color:#16a34a}.description{color:#64748b;margin-bottom:20px}.due-date{background:#f1f5f9;padding:12px 16px;border-radius:8px;margin-bottom:20px}.due-label{font-size:12px;color:#94a3b8;margin-bottom:4px}.due-value{font-weight:600;color:#0f172a}.footer{text-align:center;margin-top:24px;font-size:12px;color:#94a3b8}</style></head><body><div class=\"container\"><div class=\"card\"><div class=\"header\"><div class=\"logo\">✓ TaskFlow</div></div><p style=\"color:#64748b;margin-bottom:20px\">Hi {{ $('Get Profile').item.json.full_name || 'there' }},</p><p style=\"margin-bottom:16px\">This is a reminder for your upcoming task:</p><h2 class=\"title\">📌 {{ $('Get Task').item.json.title }}</h2><span class=\"priority priority-{{ $('Get Task').item.json.priority }}\">{{ $('Get Task').item.json.priority ? $('Get Task').item.json.priority.toUpperCase() : 'MEDIUM' }} PRIORITY</span><p class=\"description\">{{ $('Get Task').item.json.description || '' }}</p><div class=\"due-date\"><div class=\"due-label\">📅 Due Date</div><div class=\"due-value\">{{ $('Get Task').item.json.due_date ? new Date($('Get Task').item.json.due_date).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', dateStyle: 'full', timeStyle: 'short' }) : 'No due date set' }}</div></div><p style=\"color:#64748b;margin-bottom:20px\">Don't forget to complete this task on time!</p><div class=\"footer\"><p>You received this email because you set a reminder in TaskFlow.</p></div></div></div></body></html>",
                "options": {
                    "appendAttribution": false
                }
            },
            "id": "bb376e47-a590-49ce-8563-4baa203eb58f",
            "name": "Send Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                1584,
                2000
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "LG8ge52ue9UEyKHL",
                    "name": "prince gpid"
                }
            }
        },
        {
            "parameters": {},
            "id": "7827f9f5-b2b3-43d8-b46b-91fd20deda3c",
            "name": "Not Time Yet",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1152,
                2208
            ]
        }
    ],
    "connections": {
        "Get Pending Reminders": {
            "main": [
                [
                    {
                        "node": "Is Time Due?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Time Due?": {
            "main": [
                [
                    {
                        "node": "Get Profile",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Not Time Yet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Profile": {
            "main": [
                [
                    {
                        "node": "Get Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Task": {
            "main": [
                [
                    {
                        "node": "Send Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Gmail": {
            "main": [
                [
                    {
                        "node": "Mark Reminder as Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6c117294c561256781e273716b2dd9fec5b63fca097f0770dfa6acd6dddd1ee8"
    }
}